@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "~normalize.css";

@import "header";
@import "toolbar";
@import "formula";
@import "table";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.md-18 { font-size: 18px; }
.md-24 { font-size: 24px; }
.md-36 { font-size: 36px; }
.md-48 { font-size: 48px; }

body{
  font-family: 'Roboto',sans-serif;
  font-size: 12px;
}

.exel {
  position: relative;
}